body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5dc;
  color: #333;
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

header, footer {
  background-color: #1b5e20;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}
