@media (min-width:768px) {

  #menu { display:none; }

  .navigation {
    display:flex;
    gap:1rem;
    background:none;
  }

  main {
    max-width:1200px;
    margin:auto;
  }

  .grid {
    grid-template-columns:repeat(3,1fr);
  }

  .discover-grid {
    grid-template-columns:repeat(4,1fr);
  }
}
